<% provide :page_title, @presenter.page_title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= media_display @presenter %>
      <%= render 'show_actions', presenter: @presenter %>
      <br>
      <div><%= button_to t('.fixity_check'), file_set_fixity_checks_path(file_set_id: @presenter.id), method: :post, class: 'btn btn-primary' %></div><br>
      <div><%= button_to t('.regenerate_derivative'), "/concern/file_sets/#{@presenter.id}/clean_up", class: 'btn btn-primary' %></div><br>
      <div><%= button_to t('.recharacterize'), "/concern/file_sets/#{@presenter.id}/re_characterize", class: 'btn btn-primary' %></div>
    </div>
    <div itemscope itemtype="<%= @presenter.itemtype %>" class="col-xs-12 col-sm-8">
      <header>
        <%= render 'file_set_title', presenter: @presenter %>
      </header>
      <%# TODO: render 'show_descriptions' See https://github.com/samvera/hyrax/issues/1481 %>
      <div id="fileset-id"><strong ><%= t('.file_set_id') %>:</strong> <%= @presenter.id %></div>
      <div id="fileset-category"><strong ><%= t('.file_set_category') %>:</strong> <%= @fileset_use %></div>
      <div id="fileset-parent"><strong><%= t('.is_part_of') %>:</strong> <%= link_to t('.parent_work'), @parent, class: 'btn-link' %></div>
      <div id="fileset-deduplication-key"><strong>Deduplication Key:</strong> <%= @presenter.deduplication_key&.first %></div>
      <br />
      <table class="table table-striped table-bordered">
        <thead>
          <th><%= t('.file_name') %></th>
          <th><%= t('.use') %></th>
          <th><%= t('.uploaded') %></th>
        </thead>
        <tbody>
          <% @files.each do |key, file| %>
            <% if file %>
              <%= render partial: 'file_details', locals: { use: t(".#{key}"), file: file } %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><!-- /columns second -->
  </div> <!-- /.row -->
  <%= render 'show_details' %>
  <h2 class="activity-header"><%= t(".activity") %></h2><br>
  <%= render 'hyrax/users/activity_log', events: @presenter.events %>
  <%= render 'preservation_events', presenter: @presenter %>
</div><!-- /.container-fluid -->