<% if presenter.preservation_event.present? %>
  <table id="fs-preservation-event-table" class="table table-striped table-bordered">
    <thead>
      <th><%= t('.preservation_event_table.event') %></th>
      <th><%= t('.preservation_event_table.timestamp') %></th>
      <th><%= t('.preservation_event_table.outcome') %></th>
      <th><%= t('.preservation_event_table.detail') %></th>
      <th><%= t('.preservation_event_table.user') %></th>
      <th><%= t('.preservation_event_table.software') %></th>
    </thead>
    <tbody>
      <% presenter.preservation_event.each do |event| %>
        <% parsed_event = JSON.parse(event) %>
        <tr>
          <td><%= parsed_event['event_type'] %></td>
          <td>
              Start: <%= DateTime.parse(parsed_event['event_start']).strftime('%FT%T%:z') %><br>
              End: <%= DateTime.parse(parsed_event['event_end']).strftime('%FT%T%:z') %>
          </td>
          <td><%= parsed_event['outcome'] %></td>
          <td><%= parsed_event['event_details'] %></td>
          <td><%= parsed_event['initiating_user'] %></td>
          <td><%= parsed_event['software_version'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="no-preservation-events"><%= t('.no_events') %></p>
<% end %>