<%= render '/flash_msg' %>
<%= form_tag background_jobs_path, method: :post, multipart: true, class: "form-horizontal" do %>
  <h3>Background Jobs</h3>
  <table class="table table-striped">
    <tr>
      <th>Select Job</th>
      <th>Select Input File</th>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'cleanup', false, id: 'cleanup' %>
        <%= label :job_cleanup, 'FileSet Cleanup' %>
      </td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'reindex', false, id: 'reindex' %>
        <%= label :job_cleanup, 'Reindex Selected Files' %>
      </td>
      <td>
        <%= file_field_tag 'reindex_csv', class: 'files', :accept => 'text/csv' %>
      </td>
      
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'preservation', false, id: 'preservation' %>
        <%= label :job_cleanup, 'Load Preservation Workflow Metadata' %>
      </td>
      <td>
        <%= file_field_tag 'preservation_csv', class: 'files', :accept => 'text/csv' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'aws_fixity', false, id: 'aws_fixity' %>
        <%= label :job_cleanup, 'Load AWS Fixity Preservation Events' %>
      </td>
      <td>
        <%= file_field_tag 'aws_fixity_csv', class: 'files', :accept => 'text/csv' %>
      </td>
    </tr>
  </table>
  <table class="table table-striped preprocessors">
    <tr>
      <th>Preprocessors</th>
      <th>Importer</th>
      <th class="compress">CSV File</th>
      <th class="compress">XML File</th>
      <th>Workflow</th>
      <th>Starting Page Number</th>
      <th>Additional Files</th>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'dams_preprocessor', false, id: 'dams_preprocessor' %>
        <%= label :job_cleanup, 'DAMS' %>
      </td>
      <td>
        <%= select_tag 'dams_importer', raw("<option>zizia</option><option>bulkrax</option>"), class: 'dams_importer_text' %>
      </td>
      <td class="compress">
        <%= file_field_tag 'dams_csv', class: 'files', :accept => 'text/csv' %>
      </td>
      <td>N/A</td><td>N/A</td><td>N/A</td><td>N/A</td>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'lang_preprocessor', false, id: 'lang_preprocessor' %>
        <%= label :job_cleanup, 'Langmuir' %>
      </td>
      <td>
        <%= select_tag 'lang_importer', raw("<option>zizia</option><option>bulkrax</option>"), class: 'lang_importer_text' %>
      </td>
      <td class="compress">
        <%= file_field_tag 'lang_csv', class: 'files', :accept => 'text/csv' %>
      </td>
      <td>N/A</td><td>N/A</td><td>N/A</td><td>N/A</td>
    </tr>
    <tr>
      <td>
        <%= radio_button_tag :jobs, 'book_preprocessor', false, id: 'book_preprocessor' %>
        <%= label :job_cleanup, 'Book' %>
      </td>
      <td>
        <%= select_tag 'book_importer', raw("<option>zizia</option><option>bulkrax</option>"), class: 'book_importer_text' %>
      </td>
      <td class="compress">
        <%= file_field_tag 'book_csv', class: 'files', :accept => 'text/csv' %>
      </td>
      <td>
        <%= file_field_tag 'book_xml', class: 'files', :accept => 'text/xml' %>
      </td>
      <td>
        <%= select_tag 'book_map', raw("<option>kirtas</option><option>limb</option>"), class: 'book_map_text' %>
      </td>
      <td>
        <%= number_field_tag 'book_start_num', 1, min: 0, max: 1, class: 'book_start_num', prompt: 'Start page of book' %>
      </td>
      <td>
        <%= check_box_tag :add_transcript, true, false %>
        <%= label :add_transcript, 'Volume Text' %><br>
        <%= check_box_tag :add_ocr_output, true, false %>
        <%= label :add_ocr_output, 'Volume OCR' %>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" type="submit" value="Submit">Start Job</button>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $("input[name='jobs']").on("click",function() {
      $('.files').each(function(i) {
         $(this).removeAttr('required');
      });
        var val = $(this).val()
        if(val !== 'cleanup'){
          $("input[name='" + val + "_csv']").prop('required',true);
        }
    }); 
});
</script>