<% content_for :title, 'Importer Field Guide' %>
<div class="guide-container">
  <a class="btn btn-primary" href="/importer_documentation/profile">Download as CSV</a>
  <dl>
    <% @details.each do |detail| %>
      <h2>
        <dt>
          <%= detail[:attribute] %>
        </dt>
      </h2>
      <dd>
        <div>
          <b>Predicate:</b>
          <a href="<%= detail[:predicate] %>"><%= detail[:predicate] %></a>
        </div>
        <div>
          <b>Type:</b>
          <%= detail[:type] %>
        </div>
        <div>
          <b>Validation:</b>
          <%= detail[:validator] %>
        </div>
        <div>
          <b>Multiple:</b>
          <%= detail[:multiple] %>
        </div>
        <div>
          <b>Edit Form Label:</b>
          <%= detail[:label] %>
        </div>
        <div>
          <b>Import header:</b>
          <span class=<%= css_class(detail[:csv_header])%>>
            <%= detail[:csv_header] %>
          </span>
        </div>
        <div>
          <b>Required on Edit Form:</b>
          <%= detail[:required_on_form] %>
        </div>
        <div class=metadata_usage>
          <b>Usage:</b>
          <%= detail[:usage] %>
        </div>
      </dd>
    <% end  %>
  </dl>
</div>
