<!-- 
  [Hyrax-overwrite-v3.0.2] Lines 10 and 16 had to be altered from standard Hyrax because of two issues:
    1. the original logic was interpolating the user's email, not the uid that resides in the depositor field, and
    2. the format of the faceting/querying was not producing any results.
-->

<div class="list-group-item">
  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= t("hyrax.dashboard.stats.joined_on") %> <%= user.created_at.to_date.strftime("%b %d, %Y") %>
</div>

<div class="list-group-item">
  <span class="badge"><%= number_of_collections(user) %></span>
  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 
  <%= link_to t("hyrax.dashboard.stats.collections"), "/catalog/?f%5Bhas_model_ssim%5D%5B%5D=Collection&f%5Bdepositor_tesim%5D%5B%5D=#{user.uid}" %>
</div>

<div class="list-group-item">
  <span class="badge"><%= number_of_works(user) %></span>
  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 
  <%= link_to t("hyrax.dashboard.stats.works"), "/catalog/?f%5Bhas_model_ssim%5D%5B%5D=CurateGenericWork&f%5Bdepositor_tesim%5D%5B%5D=#{user.uid}" %>

  <ul class="views-downloads-dashboard list-unstyled">
      <li><span class="badge badge-optional"><%= user.total_file_views %></span> <%= t("hyrax.dashboard.stats.file_views").pluralize(user.total_file_views) %></li>
      <li><span class="badge badge-optional"><%= user.total_file_downloads %></span> <%= t("hyrax.dashboard.stats.file_downloads").pluralize(user.total_file_downloads) %></li>
  </ul>
</div>
