<%# Hyrax hyrax-v5.2.0 Override: inserting the Google Analytics code directly L#29-39
      since we haven't instituted the Analytics talk-back piece needed for the rest of the integration. %>

<%= csrf_meta_tag %>
<meta charset="utf-8" />
<%# Only display meta tag, which enables creation of the ActionCable
consumer, when realtime notifications are enabled and the user is
signed in %>
<% if Hyrax.config.realtime_notifications? && signed_in? %>
    <%= tag :meta, name: 'current-user', data: { user_key: current_user.user_key } %>
<% end %>
<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="resourcesync" href="<%= hyrax.capability_list_url %>" />
<meta name="generator" content="Samvera Hyrax <%= ::Hyrax::VERSION %>" />

<!-- Twitter card metadata -->
<%= yield :twitter_meta %>
<!-- Google Scholar metadata -->
<%= yield :gscholar_meta %>

<title><%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>

<!-- application css -->
<%= stylesheet_link_tag 'application' %>

<!-- application js -->
<%= javascript_include_tag 'application' %>

<%= render 'shared/appearance_styles' %>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_TRACKING_CODE'] %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= ENV['GA_TRACKING_CODE'] %>');
  window.analytics = gtag;
</script>
<meta name="analytics-provider" content="ga4">

<!-- for extras, e.g., a favicon -->
<%= render partial: '/head_tag_extras', formats: [:html] %>
