<!-- Persistent URL block start -->
<div>
  Persistent URL
  <ul class="tabular">
    <li><a href="http://<%= presenter.purl %>" target="_blank"><%= presenter.purl %></a></li>
  </ul>
</div>
<!-- Persistent URL block end -->
<% CurateGenericWorkAttributes.instance.attributes.each do |key| %>
  <% case key
     when 'content_type' %>
    <%= presenter.attribute_to_html(key.to_sym, render_as: 'format')  %>
  <% when 'rights_statement' %>
    <%= presenter.attribute_to_html(key.to_sym, render_as: 'rights_statement') %>
  <% else %>
    <%= presenter.attribute_to_html(key.to_sym) %>
  <% end %>
<% end %>
