<%# [Hyrax-overwrite-hyrax-v5.2.0] Our complete overwrite.
      Note: with the new version, Samvera introduces the following fields to the original template:
        - :alternative_title
        - :bibliographic_citation
        - :extent
%>

<!-- Visibility block start -->
<div>
  Visibility
  <ul class="tabular">
    <li id="visibility"><%= presenter.visibility %></a></li>
  </ul>
</div>
<!-- Visibility block end -->
<!-- Persistent URL block start -->
<div>
  Persistent URL
  <ul class="tabular">
    <li><a href="<%= presenter.purl %>" target="_blank"><%= presenter.purl %></a></li>
  </ul>
</div>
<!-- Persistent URL block end -->
<% CurateGenericWorkAttributes.instance.attributes.each do |key| %>
  <% case key
     when 'content_type' %>
    <%= presenter.attribute_to_html(key.to_sym, render_as: 'format')  %>
  <% when 'rights_statement' %>
    <%= presenter.attribute_to_html(key.to_sym, render_as: 'rights_statement') %>
  <% when 'preservation_event','preservation_workflow', 'preservation_workflow_terms' %>
  <% else %>
    <%= presenter.attribute_to_html(key.to_sym) %>
  <% end %>
<% end %>
