<div class="descriptive-metadata">
  <h4><%= t("hyrax.works.form.descriptive_metadata_heading") %></h4>

  <div class="base-terms">
    <% f.object.primary_descriptive_metadata_fields.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
    <% end %>
  </div>
  <% if f.object.display_additional_fields? %>
    <%= link_to t('hyrax.works.form.additional_descriptive_fields'),
                '#extended-terms-descriptive-metadata',
                class: 'btn btn-default additional-fields',
                data: { toggle: 'collapse' },
                role: "button",
                'aria-expanded'=> "false",
                'aria-controls'=> "extended-terms" %>
    <div id="extended-terms-descriptive-metadata" class='collapse'>
      <%= render 'form_media', f: f %>
      <% f.object.secondary_descriptive_metadata_fields.each do |term| %>
        <%= render_edit_field_partial(term, f: f) %>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<div class="rights-metadata">
  <h4><%= t("hyrax.works.form.rights_metadata_heading") %></h4>

  <div class="base-terms">
    <% f.object.primary_rights_metadata_fields.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
    <% end %>
  </div>
  <% if f.object.display_additional_fields? %>
    <%= link_to t('hyrax.works.form.additional_rights_fields'),
                '#extended-terms-rights-metadata',
                class: 'btn btn-default additional-fields',
                data: { toggle: 'collapse' },
                role: "button",
                'aria-expanded'=> "false",
                'aria-controls'=> "extended-terms" %>
    <div id="extended-terms-rights-metadata" class='collapse'>
      <%= render 'form_media', f: f %>
      <% f.object.secondary_rights_metadata_fields.each do |term| %>
        <%= render_edit_field_partial(term, f: f) %>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<div class="admin-metadata">
  <h4><%= t("hyrax.works.form.admin_metadata_heading") %></h4>

  <div class="base-terms">
    <% f.object.primary_admin_metadata_fields.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
    <% end %>
  </div>
  <% if f.object.display_additional_fields? %>
    <%= link_to t('hyrax.works.form.additional_admin_fields'),
                '#extended-terms-admin-metadata',
                class: 'btn btn-default additional-fields',
                data: { toggle: 'collapse' },
                role: "button",
                'aria-expanded'=> "false",
                'aria-controls'=> "extended-terms" %>
    <div id="extended-terms-admin-metadata" class='collapse'>
      <%= render 'form_media', f: f %>
      <% f.object.secondary_admin_metadata_fields.each do |term| %>
        <%= render_edit_field_partial(term, f: f) %>
      <% end %>
    </div>
  <% end %>
</div>
