<!-- Preservation status block -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div>
        <b><%= t('hyrax.base.show.date_uploaded') %>: </b><%= presenter.date_uploaded %>
      </div>
      <div>
        <b><%= t('hyrax.base.show.date_modified') %>: </b><%= presenter.date_modified %>
      </div>
      <div>
        <b><%= t('hyrax.base.show.depositor') %>: </b><%= presenter.depositor.first %>
      </div>
    </div>
    <div class="col-xs-6">
      <div>
        <b><%= t('hyrax.base.show.notifications') %>: </b>
      </div><br>
      <% if presenter.failed_preservation_events.nil? %>
        <div>
          <%= t('hyrax.base.show.no_failures') %>
        </div>
      <% else %>
        <% presenter.failed_preservation_events.each do |event| %>
          <div>
            <%= t('hyrax.base.show.with_failures') %>:
          </div>
          <div class="row">
            <div class="col-xs-6"><%= event["event_details"].first %></div>
            <div class="col-xs-6"><%= event["event_start"].first.strftime("%F") %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>  