<!-- Preservation status block -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div>
        <b><%= t('hyrax.base.show.date_uploaded') %>: </b><%= presenter.date_uploaded %>
      </div>
      <div>
        <b><%= t('hyrax.base.show.date_modified') %>: </b><%= presenter.date_modified %>
      </div>
      <div>
        <b><%= t('hyrax.base.show.depositor') %>: </b><%= presenter.depositor.first %>
      </div>
      <div>
        <!-- iterate through workflows -->
        <% presenter.preservation_workflows.each do |pwf| %>
        <!-- display workflow type-->
        <b><%= pwf["Type"] %>:</b>
          <!-- display key value pairs only if workflow details exist -->
          <% unless pwf.values.count > 1 %>
            <div>No information supplied</div>
          <% else %>
            <% pwf.each do |key, value| %>
              <!-- display all key value pairs except type to match display requirements -->
              <div><%= "#{key}: #{value}" unless key == "Type" %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div>
        <b><%= t('hyrax.base.show.notifications') %>: </b>
      </div><br>
      <% if presenter.failed_preservation_events.nil? %>
        <div class="preservation_failures_absent"><%= t('hyrax.base.show.no_failures') %></div>
      <% else %>
        <% presenter.failed_preservation_events.each do |event| %>
          <% parsed_event = JSON.parse(event) %>
          <div class="preservation_failures_present"><%= t('hyrax.base.show.with_failures') %>:</div>
          <div class="row">
            <div class="col-xs-6"><%= parsed_event["event_details"] %></div>
            <div class="col-xs-6"><%= parsed_event["event_start"] %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>  