<% # [Hyrax-overwrite-hyrax-v5.2.0] %>
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-sm-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-12">
    <%= render 'work_title', presenter: @presenter %>
    <%= render 'show_actions', presenter: @presenter %>
    <% if @presenter&.representative_presenter&.pdf? %>
      <%= render 'representative_media', presenter: @presenter, viewer: false %>
    <% end %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 text-center">
            <% unless @parent.blank? %>
              <%= link_to "Parent Work", @parent, class: 'btn btn-link' %>
            <% end %>
            <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? || @presenter&.representative_presenter&.pdf? %>
          </div>
          <div class="col-sm-9">
            <%= render 'work_description', presenter: @presenter %>
            <%= render 'metadata', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div><!-- /.card -->

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t('hyrax.base.show.preservation_status') %></h3>
      </div>
      <div class="card-body">
        <%= render 'preservation_status', presenter: @presenter %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t('hyrax.base.show.relationships') %></h3>
      </div>
      <div class="card-body">
        <%= render 'relationships', presenter: @presenter %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t('.items') %></h3>
      </div>
      <div class="card-body">
        <%= render 'items', presenter: @presenter %>
      </div>
    </div>

    <%# TODO: we may consider adding these partials in the future %>
    <%# = render 'sharing_with', presenter: @presenter %>
    <%# = render 'user_activity', presenter: @presenter %>

    <span class='hide analytics-event' data-category="work" data-action="work-view" data-name="<%= @presenter.id %>" ></span>
    <% @presenter.member_of_collection_ids.each do |collection_id| %>
      <span class='hide analytics-event' data-category="work-in-collection" data-action="work-in-collection-view" data-name="<%= collection_id %>" ></span>
    <% end %>
  </div>
</div>
